In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
file_ratings_path = "data/movies/ratings.csv"
rating = pd.read_csv(file_ratings_path)
df=rating

In [4]:
def missing_values_analysis(data):
    na_columns = [col for col in data.columns if data[col].isnull().sum() > 0]
    n_miss = data[na_columns].isnull().sum().sort_values(ascending=True)
    ratio = (data[na_columns].isnull().sum() / data.shape[0] * 100).sort_values(ascending=True)
    missing_df = pd.concat([n_miss, np.round(ratio, 2)], axis=1, keys=['Total Missing Values', 'Ratio'])
    missing_df = pd.DataFrame(missing_df)
    return missing_df

In [5]:
def check_df(data, row_num=5, col_num=10):
    print("*************** Dataset Shape ***************")
    print("No. of Rows:", data.shape[0], "\nNo. of Columns:", data.shape[1])
    print("*************** Dataset Information ***************")
    print(data.info())
    print("*************** Types of Columns ***************")
    print(data.dtypes)
    print(f"*************** First {row_num} Rows ***************")
    print(data.iloc[:row_num,:col_num])
    print(f"*************** Last {row_num} Rows ***************")
    print(data.iloc[-row_num:,:col_num])
    print("*************** Summary Statistics of The Dataset ***************")
    print(data.describe([0.10, 0.25, 0.50, 0.70, 0.80, 0.90, 0.95, 0.99]).T)
    print("*************** Dataset Missing Values Analysis ***************")
    print(missing_values_analysis(data))

In [6]:
print(df)

         userId  movieId  rating               tstamp
0           206     4803     4.0  2003-04-07 13:52:01
1          5073    72731     4.0  2020-02-19 16:07:53
2          4739    91653     4.0  2020-12-28 15:35:58
3           535     3005     3.0  2008-12-26 05:38:11
4           465     4776     3.0  2008-08-13 20:22:36
...         ...      ...     ...                  ...
3908652    2099    77328     4.5  2017-02-18 23:29:18
3908653    2024   148652     3.5  2019-03-24 00:29:28
3908654    3751    60684     1.0  2019-04-06 22:25:38
3908655      17     2694     3.0  2007-11-09 16:11:26
3908656    1684     3948     3.5  2017-02-03 18:19:11

[3908657 rows x 4 columns]

In [7]:
check_df(df)

*************** Dataset Shape ***************
No. of Rows: 3908657
No. of Columns: 4
*************** Dataset Information ***************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3908657 entries, 0 to 3908656
Data columns (total 4 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
 2   rating   float64
 3   tstamp   object
dtypes: float64(1), int64(2), object(1)
memory usage: 119.3+ MB
None
*************** Types of Columns ***************
userId       int64
movieId      int64
rating     float64
tstamp      object
dtype: object
*************** First 5 Rows ***************
   userId  movieId  rating               tstamp
0     206     4803     4.0  2003-04-07 13:52:01
1    5073    72731     4.0  2020-02-19 16:07:53
2    4739    91653     4.0  2020-12-28 15:35:58
3     535     3005     3.0  2008-12-26 05:38:11
4     465     4776     3.0  2008-08-13 20:22:36
*************** Last 5 Rows ***************
         userId  movieId  rating               tstamp
3908652    2099    77328     4.5  2017-02-18 23:29:18
3908653    2024   148652     3.5  2019-03-24 00:29:28
3908654    3751    60684     1.0  2019-04-06 22:25:38
3908655      17     2694     3.0  2007-11-09 16:11:26
3908656    1684     3948     3.5  2017-02-03 18:19:11
*************** Summary Statistics of The Dataset ***************
             count          mean           std  min     10%     25%      50%  \
userId   3908657.0   2434.060851   1950.445219  1.0   215.0   727.0   1973.0
movieId  3908657.0  62535.529829  67051.572745  1.0  1221.0  3478.0  45447.0
rating   3908657.0      3.419320      1.022044  0.5     2.0     3.0      3.5

             70%       80%       90%       95%       99%       max
userId    3393.0    4417.0    5590.0    6138.0    6609.0    6724.0
movieId  93982.0  119145.0  172881.0  195305.0  225776.0  270592.0
rating       4.0       4.0       4.5       5.0       5.0       5.0
*************** Dataset Missing Values Analysis ***************
Empty DataFrame
Columns: [Total Missing Values, Ratio]
Index: []

In [8]:
def create_user_movie_df(dataframe):
    # comment
    comment_counts = pd.DataFrame(dataframe["movieId"].value_counts())
    print(comment_counts)

    # rare movies
    rare_movies = comment_counts[comment_counts["movieId"] <= 1000].index
    print(rare_movies)
    
    common_movies = df[~df["movieId"].isin(rare_movies)]
    # common_movies = df
    user_movie_df = common_movies.pivot_table(index=["userId"], columns=["movieId"], values="rating")
    return user_movie_df

user_movie_df = create_user_movie_df(rating)

        movieId
79132      5506
2571       5347
2959       5101
58559      4975
318        4945
...         ...
261523        1
254488        1
267804        1
108683        1
215387        1

[68044 rows x 1 columns]
Int64Index([  2023,   1333, 177763,  41997,  27904,   1690, 116897,   1982,
             71838,  60126,
            ...
            122025, 246818, 166978, 125435, 192607, 261523, 254488, 267804,
            108683, 215387],
           dtype='int64', length=67170)

In [9]:
user_movie_df.head()

movieId,1,2,6,10,16,19,32,34,39,47,...,206857,207313,208205,208703,209965,210861,217465,218537,225173,254726
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,5.0,NaN,...,NaN,4.5,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,NaN,3.0,NaN,3.5,NaN,NaN,5.0,4.0,NaN,...,NaN,4.0,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3.0,3.0,3.0,3.0,2.0,NaN,4.0,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
def user_based_recommender(random_user, user_movie_df, ratio=50, cor_th=0.65, score=3.5):
    random_user_df = user_movie_df[user_movie_df.index == random_user]
    # Chọn phim mà người dùng đã xem
    movies_watched = random_user_df.columns[random_user_df.notna().any()].tolist()
    print(f"Số lượng bộ phim mà người dùng ID: [{random_user}] đã xem là: {len(movies_watched)}")

    # ===== Truy cập dữ liệu và id của những người dùng khác đang xem cùng một bộ phim ===== #
    movies_watched_df = user_movie_df[movies_watched]
    user_movie_count = movies_watched_df.T.notnull().sum()
    user_movie_count = user_movie_count.reset_index()
    user_movie_count.columns = ["userId", "movie_count"]
    perc = len(movies_watched) * ratio / 100
    # ===== Chọn những người dùng khác đã xem cùng một bộ phim ===== #
    users_same_movies = user_movie_count[user_movie_count["movie_count"] > perc]["userId"]
    # print(users_same_movies)

    # ===== Xác định người dùng có hành vi giống nhất với người dùng để được đề xuất ===== #
    # Để làm điều này, chúng ta sẽ thực hiện 3 bước:
    #   Chúng tôi sẽ thu thập dữ liệu của Người dùng của chúng tôi và những người dùng khác.
    #   Chúng ta sẽ tạo mối tương quan df.
    #   Chúng tôi sẽ tìm những người dùng tương tự nhất (Top Users)

    final_df = pd.concat([movies_watched_df[movies_watched_df.index.isin(users_same_movies)],
                          random_user_df[movies_watched]])
    print(final_df)
    print(final_df.T)
    print(final_df.T.corr())
    print(final_df.T.corr().unstack())
    # print(final_df.T.corr().unstack().sort_values().drop_duplicates())
    corr_df = final_df.T.corr().unstack().sort_values().drop_duplicates()
    # print(corr_df)
    corr_df = pd.DataFrame(corr_df, columns=["corr"])
    corr_df.index.names = ['user_id_1', 'user_id_2']
    corr_df = corr_df.reset_index()
    # print(corr_df.head)
    print(corr_df)
    # print(corr_df[(corr_df["user_id_1" ] == random_user) & (corr_df["corr"] >= cor_th)])
    
    top_users = corr_df[(corr_df["user_id_1"] == random_user) & (corr_df["corr"] >= cor_th)][
        ["user_id_2", "corr"]].reset_index(drop=True) # select similar users have correlation over cor_th on random_user
    top_users = top_users.sort_values(by='corr', ascending=True)
    # print(top_users)
    top_users.rename(columns={"user_id_2": "userId"}, inplace=True)
    print(top_users)
    rating = pd.read_csv(file_ratings_path)
    top_users_ratings = top_users.merge(rating[["userId", "movieId", "rating"]], how='inner')
    print(top_users_ratings)
    # ===== Tính điểm đề xuất trung bình có trọng số ===== #
    top_users_ratings['weighted_rating'] = top_users_ratings['corr'] * top_users_ratings['rating']
    # print(top_users_ratings.head())
    # print(top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"}).head())
    
    # ===== Thuật toán đề xuất film ===== #
    recommendation_df = top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"})
    recommendation_df = recommendation_df.reset_index()
    # print(recommendation_df)
    # print(recommendation_df[recommendation_df["weighted_rating"] > 3.5])
    movies_to_be_recommend = recommendation_df[recommendation_df["weighted_rating"] > score].sort_values("weighted_rating", ascending=False)

    return movies_to_be_recommend

In [27]:
def ShowAnswer(UserID = 0, cor_th = 0.70, score = 4):
  print("=============== Thông tin ===============")
  print("                                         ")
  print(f"Users ID: \t {UserID}")
  print(f"Score : \t {score}")
  print(f"cor_th: \t {cor_th}")
  print("                                         ")
  print("=========== Phim được đề xuất ===========")
  print("                                         ")
  print(user_based_recommender(UserID, user_movie_df, cor_th=cor_th, score=score))

In [30]:
# @markdown ---
# @markdown ### Nhập dữ liệu:
random_user = 5155  # @param {type:"number"}
score = 3 # @param {type:"slider", min:1, m67ax:5, step:0.5}
cor_th = 0.5 # @param {type:"slider", min:0.5, max:1, step:0.1}
if random_user == 0:
  random_user = int(pd.Series(user_movie_df.index).sample(1).values)
# @markdown ---

ShowAnswer(UserID=random_user, cor_th=cor_th, score=score)

=============== Thông tin ===============

Users ID: 	 5155
Score : 	 3
cor_th: 	 0.5

=========== Phim được đề xuất ===========

Số lượng bộ phim mà người dùng ID: [5155] đã xem là: 502
movieId  1       2       6       10      16      19      32      34      \
userId
6           4.0     NaN     4.5     NaN     4.0     NaN     4.0     4.0
7           4.5     2.5     3.0     4.0     4.0     3.0     4.0     4.5
9           4.0     2.0     2.0     NaN     NaN     NaN     4.5     4.0
10          2.5     NaN     3.5     3.0     3.0     NaN     3.5     3.0
12          4.0     2.5     3.5     3.0     4.0     NaN     4.0     3.5
...         ...     ...     ...     ...     ...     ...     ...     ...
6666        3.5     NaN     3.0     NaN     3.5     NaN     NaN     NaN
6677        4.0     4.0     3.5     4.0     NaN     4.0     3.5     NaN
6695        4.0     3.0     2.5     3.5     4.0     NaN     4.0     NaN
6696        3.5     NaN     NaN     NaN     3.5     NaN     NaN     NaN
5155        3.0     3.0     3.5     0.5     3.0     2.5     2.5     1.0

movieId  47      48      ...  194448  197711  201340  202429  202439  204698  \
userId                   ...
6           4.0     NaN  ...     NaN     NaN     NaN     3.5     4.0     4.0
7           4.0     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
9           4.0     1.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
10          2.0     NaN  ...     4.0     2.5     NaN     5.0     3.0     4.0
12          4.5     NaN  ...     3.5     3.5     3.5     3.0     4.5     3.5
...         ...     ...  ...     ...     ...     ...     ...     ...     ...
6666        3.5     NaN  ...     4.5     NaN     NaN     3.0     4.5     4.0
6677        4.0     NaN  ...     3.5     NaN     NaN     3.5     3.5     4.0
6695        4.0     NaN  ...     2.5     4.0     5.0     3.0     4.5     4.0
6696        4.0     NaN  ...     NaN     0.5     0.5     0.5     4.0     3.0
5155        3.5     2.5  ...     3.5     3.5     5.0     4.5     5.0     3.5

movieId  205156  205441  208205  218537
userId
6           4.0     4.0     NaN     3.5
7           NaN     NaN     NaN     NaN
9           NaN     NaN     3.0     NaN
10          3.5     4.0     NaN     NaN
12          3.0     3.5     3.0     NaN
...         ...     ...     ...     ...
6666        4.0     3.5     NaN     4.0
6677        NaN     NaN     2.5     NaN
6695        3.5     4.0     4.0     3.5
6696        2.0     NaN     NaN     3.5
5155        5.0     4.5     1.5     3.5

[1239 rows x 502 columns]
userId   6     7     9     10    12    13    14    16    18    19    ...  \
movieId                                                              ...
1         4.0   4.5   4.0   2.5   4.0   4.5   4.0   4.0   4.5   3.0  ...
2         NaN   2.5   2.0   NaN   2.5   NaN   NaN   3.0   NaN   1.5  ...
6         4.5   3.0   2.0   3.5   3.5   NaN   4.0   3.0   4.0   4.0  ...
10        NaN   4.0   NaN   3.0   3.0   NaN   3.0   NaN   3.0   3.0  ...
16        4.0   4.0   NaN   3.0   4.0   NaN   4.0   2.0   3.0   4.0  ...
...       ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
204698    4.0   NaN   NaN   4.0   3.5   1.0   3.0   4.0   4.0   5.0  ...
205156    4.0   NaN   NaN   3.5   3.0   3.0   NaN   NaN   NaN   NaN  ...
205441    4.0   NaN   NaN   4.0   3.5   NaN   NaN   NaN   NaN   NaN  ...
208205    NaN   NaN   3.0   NaN   3.0   NaN   NaN   3.5   4.5   3.5  ...
218537    3.5   NaN   NaN   NaN   NaN   4.0   NaN   3.5   NaN   4.0  ...

userId   6622  6626  6630  6651  6655  6666  6677  6695  6696  5155
movieId
1         3.0   4.5   NaN   4.0   4.0   3.5   4.0   4.0   3.5   3.0
2         4.0   3.0   3.0   4.0   3.0   NaN   4.0   3.0   NaN   3.0
6         NaN   4.0   4.0   4.0   4.0   3.0   3.5   2.5   NaN   3.5
10        NaN   NaN   4.0   NaN   NaN   NaN   4.0   3.5   NaN   0.5
16        NaN   NaN   2.5   4.0   3.0   3.5   NaN   4.0   3.5   3.0
...       ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
204698    NaN   4.0   5.0   NaN   4.5   4.0   4.0   4.0   3.0   3.5
205156    NaN   4.0   2.5   4.0   4.0   4.0   NaN   3.5   2.0   5.0
205441    NaN   NaN   NaN   NaN   NaN   3.5   NaN   4.0   NaN   4.5
208205    NaN   3.0   2.5   NaN   NaN   NaN   2.5   4.0   NaN   1.5
218537    NaN   NaN   NaN   4.5   NaN   4.0   NaN   3.5   3.5   3.5

[502 rows x 1239 columns]
userId      6         7         9         10        12        13        14    \
userId
6       1.000000  0.441311  0.342284  0.322256  0.549514  0.261317  0.531939
7       0.441311  1.000000  0.454353  0.200577  0.326785  0.327628  0.395824
9       0.342284  0.454353  1.000000  0.063804  0.338458  0.191458  0.341328
10      0.322256  0.200577  0.063804  1.000000  0.305825  0.149473  0.294183
12      0.549514  0.326785  0.338458  0.305825  1.000000  0.391569  0.534421
...          ...       ...       ...       ...       ...       ...       ...
6666    0.157753  0.175703  0.070364 -0.021390  0.158737  0.094236  0.144445
6677    0.081746  0.049457  0.073937 -0.093653  0.168917  0.165271  0.041986
6695    0.441275  0.394550  0.395335  0.199635  0.516900  0.231412  0.458558
6696   -0.080779 -0.082839 -0.183870 -0.131499 -0.035277  0.017784  0.016007
5155    0.420296  0.364898  0.231831  0.227253  0.415906  0.121377  0.362367

userId      16        18        19    ...      6622      6626      6630  \
userId                                ...
6       0.086051  0.199863  0.349773  ...  0.092191  0.520944 -0.069288
7       0.086230  0.235943  0.323677  ...  0.074963  0.336806 -0.013782
9      -0.065039  0.198770  0.211833  ...  0.064492  0.281609  0.121636
10      0.061373  0.139996  0.229551  ... -0.211376  0.253622 -0.246354
12      0.131314  0.315111  0.404398  ... -0.041130  0.590932 -0.126579
...          ...       ...       ...  ...       ...       ...       ...
6666    0.120552  0.040298  0.318408  ...  0.052791  0.405837  0.107535
6677    0.198384  0.152959  0.063489  ...  0.205958  0.093743  0.258656
6695    0.075878  0.162182  0.382208  ... -0.183007  0.559549 -0.176847
6696    0.090209  0.027295 -0.059524  ... -0.096370  0.049374  0.018229
5155   -0.059276  0.085050  0.421721  ... -0.131057  0.486401 -0.169031

userId      6651      6655      6666      6677      6695      6696      5155
userId
6       0.282220  0.166175  0.157753  0.081746  0.441275 -0.080779  0.420296
7       0.189068  0.065569  0.175703  0.049457  0.394550 -0.082839  0.364898
9       0.156210  0.066638  0.070364  0.073937  0.395335 -0.183870  0.231831
10      0.096795  0.060163 -0.021390 -0.093653  0.199635 -0.131499  0.227253
12      0.337628  0.266504  0.158737  0.168917  0.516900 -0.035277  0.415906
...          ...       ...       ...       ...       ...       ...       ...
6666    0.309081  0.243152  1.000000  0.121012  0.357883  0.187894  0.279134
6677    0.228642  0.156653  0.121012  1.000000  0.109250 -0.055223 -0.002780
6695    0.431864  0.297858  0.357883  0.109250  1.000000 -0.027202  0.528624
6696   -0.060607  0.030732  0.187894 -0.055223 -0.027202  1.000000 -0.159780
5155    0.304770  0.152753  0.279134 -0.002780  0.528624 -0.159780  1.000000

[1239 rows x 1239 columns]
userId  userId
6       6         1.000000
        7         0.441311
        9         0.342284
        10        0.322256
        12        0.549514
                    ...
5155    6666      0.279134
        6677     -0.002780
        6695      0.528624
        6696     -0.159780
        5155      1.000000
Length: 1535121, dtype: float64
        user_id_1  user_id_2      corr
0            1931       3242 -0.570835
1            3242       1992 -0.472940
2            3242       1405 -0.467396
3             202       6058 -0.452382
4            3242       4864 -0.452265
...           ...        ...       ...
763303       6478       5155  0.883132
763304       4645       5155  0.924994
763305       6696       3366  0.998762
763306       5155       5155  1.000000
763307          6       1767       NaN

[763308 rows x 3 columns]
    userId      corr
0     1870  0.501606
1      411  0.501737
2     6394  0.502262
3     2564  0.503869
4      408  0.504592
..     ...       ...
64    3065  0.621230
65    2654  0.628520
66    1405  0.647525
67    3099  0.655349
68    5155  1.000000

[69 rows x 2 columns]
       userId      corr  movieId  rating
0        1870  0.501606     8958     2.5
1        1870  0.501606     2000     4.0
2        1870  0.501606      377     4.0
3        1870  0.501606   158830     3.5
4        1870  0.501606    60069     4.5
...       ...       ...      ...     ...
92953    5155  1.000000     8199     3.0
92954    5155  1.000000     6867     5.0
92955    5155  1.000000     3022     4.5
92956    5155  1.000000     5114     3.0
92957    5155  1.000000     7206     2.5

[92958 rows x 4 columns]
       movieId  weighted_rating
11922   143511         5.000000
10267   112066         5.000000
11433   135023         5.000000
575        973         4.500000
8133     81371         4.500000
...        ...              ...
12777   160974         3.019375
12820   161720         3.019375
12888   163102         3.019375
12935   163975         3.019375
16604   267768         3.019375

[120 rows x 2 columns]